<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Localização do projeto"
            id="p2.submibot.commands.showProjectLocation">
      </command>
      <command
      		name="Submeter Projeto"
      		id="p2.submibot.commands.SubmitProject">
      </command>
      <command
      		name="Limpar Cache"
      		id="p2.submibot.commands.ClearCache">
      </command>
   </extension>


   <extension
         point="org.eclipse.ui.handlers">
      <handler
      		class="p2.submibot.handlers.ProjectLocation"
            commandId="p2.submibot.commands.showProjectLocation">
      </handler>
      <handler
      		class="p2.submibot.handlers.SubmitProject"
      		commandId="p2.submibot.commands.SubmitProject">
      </handler>
      <handler
      		class="p2.submibot.handlers.ClearCache"
      		commandId="p2.submibot.commands.ClearCache">
      </handler>
   </extension>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
            <menu label="SubmiBot">
				<command commandId="p2.submibot.commands.SubmitProject"/>
                <command commandId="p2.submibot.commands.showProjectLocation"/>
				<command commandId="p2.submibot.commands.ClearCache"/>
            </menu>
      </menuContribution>
   </extension>

</plugin>
