<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.menu.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="p2.submibot.commands.category"
            name="Sample Command"
            id="p2.submibot.commands.sampleCommand">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="p2.submibot.SubmiBot"
            commandId="p2.submibot.commands.sampleCommand">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="p2.submibot.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8">
      </key>
   </extension>

</plugin>
